@charset "utf-8";
@import "normalize";
@import "milligram.min";

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'sans-serif';
}

strong {
  font-style: italic;
  font-weight: 300;
}

.landing {
  text-align: center;
  .hero {
    .title {
      font-weight: 300;
    }

    .byline h2 {
      font-weight: 100;
    }
  }

  section {
    padding: 2rem;
  }

  p {
    font-size: 2.2rem;
    text-align: left;
  }

  .we-are-lean {
    blockquote {
      text-align: left;
    }

    .author {
      display: block;
      float: right;
    }
  }
}

